header {
    text-align: center;
}

body {
    margin: 0;
}

#gallery {
    width: auto;
    margin: auto;
}

/* --Kolory dodane w celu lepszej identyfikacji-- */ 

@media (max-width:480px) {
    figure {
        width: 100%;
        margin: 5px 0;
    }
    body {
        background-color: #903030;
    }
}

@media (min-width:481px) and (max-width:786px) {
    img,
    figure {
        width: 90%;
        margin: 10px auto;
    }
    body {
        background-color: orange;
    }
}

@media (min-width:787px) and (max-width:992px) {
    img,
    figure {
        width: 47.5%;
        margin: 10px auto;
    }
    body {
        background-color: red;
    }
}

@media (min-width:993px) {
    img,
    figure {
        width: 33.0%;
        margin: 10px auto;
    }
    body {
        background-color: blue;
    }
}