* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #222;
    color: #eee;
    margin: 0;
    text-align: center;
}

h2 {
    text-transform: uppercase;
}

#gallery {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

figure {
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
}

figure figcaption {
    text-align: center;
}

figure img {
    width: 100%;
    border: 2px solid #444;
    border-radius: 1px; 
}